name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check HTML file
        run: |
          echo "CI Started"
          test -f index.html && echo "File exists"
          echo "CI Successful"
